[submodule "ardupilot"]
	url = https://github.com/adarshrs/Drone-Simulator-for-ROS-Kinetic
[submodule "ardupilot_sitl_gazebo_plugin"]
	url = https://github.com/adarshrs/Drone-Simulator-for-ROS-Kinetic
[submodule "drcsim"]
	url = https://github.com/adarshrs/Drone-Simulator-for-ROS-Kinetic
