[submodule "ardupilot"]
	url = https://github.com/adarshrs/ardupilot
[submodule "ardupilot_sitl_gazebo_plugin"]
	url = https://github.com/Hurisa/ardupilot_sitl_gazebo_plugin
[submodule "autopilot/sitl/ardupilot"]
	url = https://github.com/ArduPilot/ardupilot
[submodule "drcsim"]
	url = https://github.com/Hurisa/drcsim
[submodule "mavros"]
	url = https://github.com/adarshrs/mavros
[submodule "mav_comm"]
	url = https://github.com/adarshrs/mav_comm
